html
  head
    title='Docker CI using Dockercloud  '
    
  body
    div.container
      div.jumbotron
        h1 Update version 1
        p Click the button below to head over to Cognizant site...
        p 
          a.btn.btn-primary(href="http://www.cognizant.com") Podcast
        p